body {
  text-align: center;
  background-color: rgb(39, 43, 45);
  font-family: monospace;
  color: rgb(190, 255, 181);
}

#title {
  font-size: 60px;
  font-family: 'Mr Dafoe', cursive;
  color: red;
}

#grid {
  width: 480px;
  height: 480px;
  margin: auto;
  margin-top: 50px;
  border: 5px solid red;
}

.cell {
  float: left;
  background-color: silver;
}

.cellON {
  background-color: black;
}